<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"	type="text/css" href="/static/css/bootstrap.min.css">cd
</head>

<body>

<div class="container">
  <div class="jumbotron">
    <h1>ARENA 2017 Scorecard Admin</h1>      
    <p>Made with <span style="font-size:100%;color:red;">&hearts;</span> by SmartCampus, BPHC</p>
  </div>

<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</body>
</html>
